@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@500&family=PT+Serif&family=Taviraj:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}


.container__grid {
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
                          "header"
                          "main"
                          "footer"  ;
}

.encabezado {
    grid-area: header ;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 5);
    position: fixed ;
    width: 100%;
    
    
}

.encabezado nav {
    background-color: rgb(21, 101, 145);
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 5);
    
    

}
.encabezado .logo {
    display: flex;
    flex-direction: row;
    
    margin: auto;
    
    
}

.navbar {
    padding: auto;
    margin: auto;
    width: 50%;
    background-color: rgb(21, 101, 145);
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    

}

.navbar li a {
    
    text-decoration: none;
    font-weight: 600;
    color: #ffd579;
    font-family: 'Cinzel', serif  ;
    transition: 2px 1s;
    text-shadow: 0 0 5px black;
    padding: 10px;
}

.navbar li  :hover {
    background-color: rgba(0, 0, 0, 0.252);
    border-radius: 40px;
    
}

.encabezado nav img {
    height: 70px;
    border-radius: 30px;
    margin-left: 30px;
    
}

main {
    
    grid-area: main ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    




}

.lorem {
    font-size: 30px;
    font-family:  'Anton', sans-serif ;
    background-image: url(../images/casita.jpg)   ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
    color: dimgray;
    text-align: center;
}



.propiedades {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows :auto;
    gap:2%;
    margin:2%;
}

.card {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    position: inherit;
}


.card img {
    width: 100%;

}


.logow {
    
    position: fixed ;
    top: 70%;
    left: 85%;
    border-radius: 50px;


}



footer {
    background-color: rgb(21, 101, 145) ;
    grid-area: footer ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 5);
    
}



.accesospie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: #000000;
    list-style: none;
}
.accesospie li {
    list-style: none;
}

.accesospie li a {
    color: #000000;
    text-decoration: none;
   
}


.contactopie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    
}

footer img {
    height: 70px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 30px;
    margin-left: 80px;
    margin-top: 30px;
    
}

/*..................*/


.containerForm{
    
    width: 100%;
    height: 100%;
    display:flex;   
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin-top: 20px;
    
}
.containerForm::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/llaves.jpg);
    background-repeat: no-repeat;
    background-position: center;
    filter:blur(50px);
    z-index: -1;
   
    background-color: rgba(0,0,0,0.5);
}

.contact-box{
    max-width: 850px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(21, 101, 145);
    box-shadow: 0px 0px 19px 5px rgba( 0, 0, 0, 0.19 );

}
.left{
    background: url(../images/llaves.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}
.right{
    padding: 25px 40px;

}
.contactoh2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    color: #ffd579;
}
.contactoh2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
 
    

}
.field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.184);
    outline:none;
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: all 0.3s ease-in-out;
}
.field:hover{
    background-color: rgba(0,0,0,0.1);

}
textarea{
    min-height: 150px;
}
.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgb(21, 101, 145);
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline:none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: #ffd579;
}
.field:focus{
    border: 2px solid #ffd579;
    background-color: #fff;
}






@media screen and (max-width: 880px){
         
    .containerForm{
     
      padding: 20px;
      margin-top: 55px;  
    }
   
      .contact-box{
          grid-template-columns: 1fr;
      }
      .left{
          background-size: cover;
          height: 100%;
      }
      .right{
          padding: 25px 20px;
      }
  }






/*..............*/



@media screen and (max-width: 800px) {
    .navbar  {
       font-size: 1rem;
       display: flex;
       flex-direction: column;
    }
       
       .propiedades{
        margin-top: 30%;
        margin-bottom: 30%;
     
           grid-template-columns: repeat(2,1fr);}

           .footer {
            position: absolute;
           }
           .mapa {
            height: auto;
           }
           footer img {
            display: block;
           }
           .mapa iframe {
            height: 300px;
            width: 300px;
        }

        
   }

@media screen and (max-width: 300px) {
    .navbar  {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    .propiedades{
        margin-top: 40%;
        margin-bottom: 130%;
     
        grid-template-columns: repeat(1,1fr);}

        .card {
            width: 100%;
            height: 100%;
        }

        .logow {
            left: 50%;

        }
        footer img {
            height: 50px;
            padding: 0;
            margin: 0;
        }
      

        






}
