/* colores */
/* medidas logo*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@500&family=PT+Serif&family=Taviraj:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar img {
  height: 70px;
  border-radius: 30px; }

.navbar {
  background-color: #156591;
  box-shadow: 1px 1px 1px 1px black; }

.logow {
  position: fixed;
  top: 70%;
  left: 85%;
  border-radius: 50px; }

.footerimg {
  height: 70px;
  border-radius: 30px; }

.navfooter {
  background-color: #156591;
  color: #ffd579; }

.colorfooter {
  color: #ffd579; }

footer {
  margin-top: 30px; }

header nav .nav-item {
  text-decoration: none;
  font-weight: 600;
  color: #ffd579;
  font-family: 'Cinzel', serif;
  transition: 2px 1s;
  text-shadow: 0 0 5px black;
  padding: 10px; }

header nav .navbar {
  background-color: #156591;
  box-shadow: 1px 1px 1px 1px black; }

header nav a .navbar img {
  height: 70px;
  border-radius: 30px; }

.nosotros {
  background-image: url(../images/tasaciones-1.jpg);
  background-position: center;
  background-size: cover; }

main {
  gap: 2%;
  margin: 3%; }
  main .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.184);
    outline: none;
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: all 0.3s ease-in-out; }
  main .field:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  main .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #156591;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
  main .btn:hover {
    background-color: #ffd579; }
  main .field:focus {
    border: 2px solid #ffd579;
    background-color: #fff; }
  main a .logow {
    position: fixed;
    top: 70%;
    left: 85%;
    border-radius: 50px; }
  main .card-title-nosotros {
    color: #ffd579; }
  main .card-text {
    color: #ffd579; }

footer {
  margin-top: 30px; }
  footer .navfooter {
    background-color: #156591;
    color: #ffd579; }
    footer .navfooter a .footerimg {
      height: 70px;
      border-radius: 30px; }
    footer .navfooter h5 .colorfooter {
      color: #ffd579; }
    footer .navfooter ul .colorfooter {
      color: #ffd579; }
