header {
    .inicioImg {
        background-image: url(../images/casita.jpg);
        background-position: center ;
        height: 100vh;
        background-size: cover;
        
        
        
        
    }
        
            .santisi{
                color: $azul ;
                text-shadow: 0 0 5px black;
                
            }
        
    
        
        .btn{
            width: 100%;
            padding: 0.5rem 1rem;
            background-color: rgb(21, 101, 145);
            color: #fff;
            font-size: 1.1rem;
            border: none;
            outline:none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: #ffd579;
            }

            
        
        
    }

}
