.card {
    @include caja_card ();

    img {
        height: 200px;

    }
}

h5 {
    color: $azul;
}

.bodytasaciones {
    background-image: linear-gradient(to right, #156591, #0269a4, #106bb6, #2e6cc6, #4e6bd4);
}


.tasaciones {
    overflow: hidden;
}

.titulo {
    margin: 0 0 1.6rem;
    text-transform: uppercase;
    font-size: 2rem;

    span {
        color: #fff;
    }


}

main {
/*tasaciones*/


    .col {
        padding: 2rem;
    }


    .col-info {
        background-image: linear-gradient(to right, #156591, #0269a4, #106bb6, #2e6cc6, #4e6bd4);

        p {
            line-height: 1.5;
        }

    }



    .col-img {
        background-position: center;
        background-size: cover;
        height: 768px;
        width: 768px;
    }




    .boton {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        border: 2px solid #fff;
        border-radius: 2rem;
        padding: .8rem 1rem;
        display: inline-block;
        margin-top: .5rem;
        transition: all .3s;

        &:hover {
            background: #fff;
            color: #000;
            animation: headShake;
            animation-duration: 1s;
        }
    }
/*contacto*/

    .containerForm{
    
        width: 100%;
        height: 100%;
        display:flex;   
        justify-content: center;
        align-items: center;
        padding: 20px 100px;
        margin-top: 20px;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../images/llaves.jpg);
            background-repeat: no-repeat;
            background-position: center;
            filter:blur(50px);
            z-index: -1;
           
            background-color: rgba(0,0,0,0.5);
        }
        
    }
    
    
    .contact-box{
        max-width: 850px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(21, 101, 145);
        box-shadow: 0px 0px 19px 5px rgba( 0, 0, 0, 0.19 );
    
    }
    .left{
        background: url(../images/llaves.jpg) no-repeat center;
        background-size: cover;
        height: 100%;
    }
    .right{
        padding: 25px 40px;
    
    }
    .contactoh2{
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 10px;
        color: #ffd579;
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 4px;
            width: 50px;
            border-radius: 2px;
         
            
        
        }

    }
    

    textarea{
        min-height: 150px;
    }

    /*contacto*/
}